{#
/**
 * @file
 * Default theme implementation to present a movie details entity.
 *
 * This template is used when viewing a canonical movie details page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_movie_details()
 */
#}


<article{{attributes}}>

	<div class="movie-details">
		{{ budget_message }}
	</div>
	{% if view_mode != 'full' %}
		{{ title_prefix }}
		{{ title_suffix }}
	{% endif %}
	{% if content %}
		{{- content -}}
	{% endif %}

</article>
